<p id="notice"><%= notice %></p>

<p>
  <strong>Sueldo:</strong>
  <%= @lista_calendario.sueldo %>
</p>

<%= link_to 'Edit', edit_lista_calendario_path(@lista_calendario) %> |
<%= link_to 'Back', lista_calendarios_path %>
