<div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
	        <div class="col-xs-3">
	        	<h2>Presupuesto</h2><br><br><br>

			</div>
		</div>
		<%= render 'form', presupuestooo: @presupuestooo %>
		<div class="col-xs-5">
        </div>
        <div class="col-xs-4">

			<%= link_to presupuestooos_path, class: "btn btn-default"  do %><i class="glyphicon glyphicon-arrow-left"></i> Atras <% end %>
		</div>
		</div>
</div>