<div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
	        <div class="col-xs-3">
				<h1>Nuevo Registro de Guardia</h1><br><br><br>
			</div>
		</div>

			
	        <div class="col-xs-6">

				<%= render 'form', regis_guardium: @regis_guardium %> <br>

				<%= link_to regis_guardia_path, class: "btn btn-default"  do %><i class="glyphicon glyphicon-arrow-left"></i> Atras <% end %>
			</div>
</div>
</div>
