<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoTesis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Menu -->
    <nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Firme S.A</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recursos Humanos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:3000/regis_guardia">Guardias</a></li>
            <li><a href="http://localhost:3000/puestos">Puestos</a></li>
            <li><a href="http://localhost:3000/calendarios">Calendario</a></li>
          </ul>
        </li>
        <li><a href="http://localhost:3000/clientes">Clientes</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stock <span class="caret"></span></a>
          <ul class="dropdown-menu">
             <li><a href="http://localhost:3000/productos">Producto</a></li>
            <li><a href="http://localhost:3000/lista_puestos/index">Puestos Asignados</a></li>
          </ul>
        </li>

        <li><a href="http://localhost:3000/presupuestooos/new">Presupuesto</a></li>
        <li><a href="http://localhost:3000/reportes">Asistencias</a></li>
           <!--<li><a href="http://localhost:3000/">Alertas</a></li>
            <li><a href="http://localhost:3000/">Informes</a></li> -->
        
      </ul>
      
   </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<style>
    .button-guardar{
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
    }
</style>
  </head>

  <body>
    <%= yield %>

  </body>
</html>
