<div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
	        <div class="col-xs-3">
				<h1>Editar Puesto </h1>
			</div>
			<div class="col-xs-6">
			</div>
			<div class="col-xs-3">
				
				<%= link_to @puesto_registro, class: "btn btn-info" do %> <i class="glyphicon glyphicon-eye-open"></i>  Ver <% end %> |
				<%= link_to puesto_registros_path, class: "btn btn-default"  do %><i class="glyphicon glyphicon-arrow-left"></i> Atras <% end %> 
			</div>

			<%= render 'form', puesto_registro: @puesto_registro, class: "btn btn-info" do %>
			<% end %>

			</div>
		</div>
</div>